/*top*/
.top_w {
	width: 100%;
	min-width: 1280px;
}
.top {
	width: 98%;
	margin: 0 auto;
	overflow: hidden;
}
.logo_w,.phone,.login_w {
	float: left;
}
.logo_w {
  width: 67%;
 }
.logo_w img {
	width: 45%;
	margin-top: 32px;
 }
.phone {
  width: 17%;
 }
.phone span {
	display: inline-block;
	margin-top: 38px;
}
.phone span i {
	display: inline-block;
	float: left;
	margin-right: 8px;
	width: 35px;
	height: 35px;
}
.phone span em {
	display: inline-block;
	float: left;
	margin-top: 5px;
    font-size: 22px;
    color: black;
}
.phone i img {
	width: 100%;
}
.login_w span{
	color: #808182;
}
.login_w span{
	display: inline-block;
   font-size: 16px;
   margin-right: 10px;
   height: 40px;
   color: #545353;
  margin-top: 35px;
  margin-left: 10px;
}
.load_w a {
	display: inline-block;
	border: #f70925 solid 1px;
	padding: 10px 25px;
	background-color: #fac5cb;
	border-radius: 5px;
}

/*nav*/
.nav_wrap {
	width: 100%;
	min-width: 1280px;
    background-color: #000000;
}
.nav_n {
	height: 50px;
}
.nav_list,.tu_s,.china_english {
	float: left;
}
.nav_list {
	width: 75%;
	height: 50px;
}
.nav_list span {
	display:block;
	color: white;
	float: left;
	width: 195px;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	text-align: center;
	border-right: #ffffff dashed 1px;
}
.nav_list span a {
	color: white;
}
.home_img img {
	width: 30px;
}
.tu_s {
	width: 50px;
	height: 50px;
}
.tu_s img {
	width: 100%;
	height: 100%;
}
.china_english {
	width: 25%;
    height: 50px;
    line-height: 50px;
    background-image: url("../images/nav_b.png");
	background-repeat: repeat-x;
}
.change_t {
	margin-left: 85px;
	color: white;
}
.arrow {
	vertical-align: center;
	display: inline-block;
	width: 15px;
	margin-left: 10px;
}
.arrow img{
	width: 100%;
}
.image-select {
	position: absolute;
	right: 100px;
	bottom: 10px;
}

/*下拉框*/
.nav-wrapper {
  width: 100%;
  background-color: #ececec;
  z-index: -100;
  padding: 10px;
  overflow: hidden;
}
.panel-item ul li {
	float: left;
	width: 25%;
	text-align: center;
	padding: 5px 0px;
}
.panel-item ul li a {
	display: block;
	font-size: 16px;
}
.panel-item ul li a:hover {
	color: #fa071a;
}
.up_arr {
	width: 100%;
	text-align: center;
}
.up_arr img{
	width: 25px;
}
/*轮播产品*/
.wrapper {
	position: relative;
	width: 100%;
	height: 520px;
	min-width: 1280px;
	overflow: hidden;
}
#list {
	position: absolute;
	top: 0;
	right: 60px;
}
#list .list-item {
	width: 150px;
	height: 40px;
	line-height: 40px;
	background-color: rgba(64, 63, 63, 0.6);
	color: white;
	margin-bottom: 2px;
	text-align: center;
}
#list .list-item:last-child {
	margin-bottom: 0;
}
.images {
	position: absolute;
	left: 0;
	top: 0;
	width: 300%;
	height: 100%;
}
.image-1 {
	background-color: red;
}
.image-2 {
	background-color: blue;
}
.image-3 {
	background-color: yellow;
}
.image-4 {
	background-color: green;
}
.image-5 {
	background-color: purple;
}
.image-item {
	width: 33.33%;
	float: left;
}
.image-item-btns {
	position: absolute;
	left: 50%;
	bottom: 0;
}
.item-btns {
	margin: 0 15px;
	cursor: pointer;
}

/*首页解决方案*/
.solution_title_w {
	text-align: center;
	min-width: 1200px;
	margin: 0 auto;
	padding: 20px 0px;
}
.solution_title_w img {
	width: 30%;
}
.solution_list_w {
	overflow: hidden;
}
.solution_l {
	width: 24%;
	float: left;
	margin-right: 12px;
} {
	margin-right: 0px;
}
.so_add {
	margin-right: 0px;
}
.solution_top {
	position: relative;
	height: 330px;
	overflow: hidden;
}
.Mask_top {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height:330px;
	background-color: rgba(49, 48, 48, 0.7);
}
.Mask_top p {
	color: white;
	padding: 10px 3px;
	text-indent: 30px;
}
.solution_top img {
	width: 100%;
}
.solution_txt {
	position: relative;
	height: 71px;
	padding-top: 5px;
	border-top: red solid 4px;
	background-color: #4a4a4b;
	overflow: hidden;
}
.solution_txt .text {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.solution_txt .text h1 {
	height: 45px;
	line-height: 45px;
	font-size: 24px;
	color: #12f3f6;
}
.text p {
	font-size: 18px;
	color: white;
}
.solution_txt .mark {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: -100%;
	background-color: red;
}

/*新闻中心*/
.news_z_w {
	overflow: hidden;
	background-image: url("../images/home_news_bg.png");
	background-size: cover;
	margin-top: 100px;
}
.news_cent {
	overflow: hidden;
}
.news_list {
	padding-top: 70px;
	overflow: hidden;
	padding-bottom: 40px;
}
.news_l_01 {
	width: 31%;
	float: left;
	margin-right: 26px;
	background-color: #70f25b;
}
.news_l_01.active .news_text {
	background-color: red;
}
.news_l_01.active .news_text .news_N {
	border-left: #fff solid 4px;
	color: #FFFFFF;
}
.news_l_01.active .news_text .news_N h2 {
	color: white;
}
.news_la {
	margin-right: 0px;
}
.news_img {
	position: relative;
	width: 100%;
	height:150px;
	overflow: hidden;
} 
.news_img img {
	width: 100%;
}
.news_time {
	position: absolute;
	bottom: 10px;
	left: 30px;
	color: white;
	font-size: 23px;
}
.news_text {
	width: 100%;
	height: 100px;
	padding-top: 10px;
	background-color: white;
}
.news_N {
   width: 80%;
   margin-left: 20px;
   height: 75px;
   padding-left: 20px;
   border-left: #fa060c solid 4px;
 }
 .news_N h2 {
 	color: #fa060c;
 	font-size: 21px;
 	margin-bottom: 10px;
 }
  .more_news {
  	text-align: center;
  }
 .more_news img {
 	width: 15%;
 	margin: 0 auto;
 	margin-bottom: 20px;
 }

/*底部*/
.bottom_wrapper,.bottom_n {
	padding: 20px 0px;
	background-color: #000;
	overflow: hidden;
}
.about_us_w,.our_server,.contact_us,.Friendship_link {
   float: left;
   color: white;
}
.about_us_w {
	width: 32%;
}
.our_server {
	width: 20%;
}
.contact_us {
	width: 35%;
}
.Friendship_link {
	width: 13%;
}
.about_us_w h2,.our_server h2,.contact_us h2,.Friendship_link h2 {
	color: #fa060c;
	font-size: 21px;
	margin-bottom: 15px;
}
.about_us_w h3,.our_server h3,.contact_us h3,.Friendship_link h3 {
	width: 54px;
	border-bottom: #fa060c solid 2px;
	margin-bottom: 15px;
}
.about_us_w p {
	color: #5c5b5b;
	font-size: 18px;
	text-indent: 24px;
	padding-right: 25px;
	line-height: 25px;
	margin-bottom: 20px;
}
.text_us a {
	display: inline-block;
	color: #fa060c;
}
.text_us a i {
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
}
.our_server ul li a {
	display: block;
	font-size: 18px;
	color: #5c5b5b;
	height: 30px;
	line-height: 30px;
}
.contact_us ul li {
	font-size: 18px;
	color: #5c5b5b;
	height: 30px;
	line-height: 30px;
}
.contact_us ul li i {
	display: inline-block;
	width: 20px;
	vertical-align: top;
	padding-top: 3px;
	margin-right: 5px;
}
.link_img p {
	font-size: 15px;
	color: #5c5b5b;
	margin-top: 20px;

}
.link_img p span {
	display: inline-block;
	padding-top: 2px;
}
.link_img p span a {
	color: #fa060c;
}
.link_img p i {
	display: inline-block;
	vertical-align: top;
	width: 20px;
	margin-left: 5px;
}
.link_img p i img {
   width: 100%;
}

/*产品中心*/
.product_img {
	height: 200px;
	background-color: red;
	overflow: hidden;
	background-image: url("../images/product_bg.jpg");
	background-size: cover;
}
.news_img {
	background-image: url("../images/news_bg.png");
	background-size: cover;
}
.product_img h2 {
	text-align: center;
	font-size: 28px;
	height: 50px;
	line-height: 50px;
	margin-top: 45px;
	font-weight: bold;
	color: #fa0619;
}
.product_img h5 {
	text-align: center;
	font-size: 24px;
	height: 50px;
	line-height: 50px;
	margin-top: 2px;
	color: white;
}

/*产品内容*/
.product_list_w {
	overflow: hidden;
}
.product_left{
   float: left;
   width: 20%;
   background-color:white;
}

.product_left ul li {
	height: 50px;
	line-height: 50px;
	text-indent: 20px;
	border-bottom: #d9dbdb dashed 1px;
	color: #525454;
}
.product_left ul li i {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 10px;
	background-image: url("../images/arr_h.png");
	background-size: 100%;
}
.product_left ul li:hover,.product_left ul li:active {
	background-color: #fa0215;
	color: white;
}
.cont_us_li {
	width: 100%;
	overflow: hidden;
	}
.cont_us_li img {
	width: 100%;
}
.pro_on {
	background-color: #fa0215;
	color: white !important;
}
.product_right{
   float: left;
   width: 80%;
}
.top_nav {
	overflow: hidden;
	width: 98%;
	margin: 0 auto;
	
}
.top_nav ul li {
	float: left;
	height: 50px;
	line-height: 50px;
	width: 25%;
	text-align: center;
}
.nav_on {
	background-color: #fa0215;
}
.nav_on a {
	display: block;
    width: 30%;
	margin: 5px auto;
	height: 40px;
	line-height: 40px;
	color: white;
	border-top: #fff solid 2px;
}

.top_nav ul li:hover{
   background-color: #fa0215;
}
.top_nav ul li:hover a {
   display: block;
    width: 30%;
	margin: 5px auto;
	height: 40px;
	line-height: 40px;
	color: white;
	border-top: #fff solid 2px;
}
.product_video {
	width: 100%;
	margin: 10px auto;
}
.product_video img{
	width: 100%;
}
.product_introduction {
   width: 98%;
   margin: 0 auto;
}
.product_test h2,.product_function h2,.product_download h2{
	font-size: 23px;
	font-weight: block;
	padding: 20px 0px;
	border-bottom: #ccc solid 1px;
}
.product_test p,.product_function p {
	font-size: 15px;
	text-indent: 10px;
	line-height: 20px;
}
.download_list {
	overflow: hidden;
	margin-top: 10px;
	border-bottom: #d4d3d2 dashed 1px;
}
.downloas_left,.downloas_right {
	float: left;
}
.downloas_left {
	width: 80%;
	height: 80px;
}
.download_logo,.download_sm{
	float: left;
}
.download_logo {
	width: 55px;
	height: 55px;
	margin: 15px 20px 15px 3px;
	background-image: url("../images/test.png");
	background-size: 100%;
}
.download_sm h3 {
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 11px;
}
.download_sm p span {
	font-size: 14px;
	color: #7f7e7e;
	margin-right:20px;
}
.downloas_right {
	width: 20%;
	text-align: center;
	height: 80px;
	line-height: 80px;
}
.downloas_right input {
	width: 70%;
	background-color: red;
	border: none;
	height: 50px;
	color: white;
}

/*新闻中心*/
.comwith_t2 {
	width: 80%;
	margin: 0 auto;
	min-width: 1200px;
}
.news_list_n {
	padding-bottom: 10px;
	border-bottom: #cecdcd dashed 1px;
}
.new_top {
	overflow: hidden;
	margin-top: 20px;
	}
.news_data,.news_title {
  float: left;
}
.news_data {
	width: 60px;
	height:65px;
	text-align: center;
	border: #bababb solid 1px;
}
.news_data h2 {
	font-size: 24px;
	font-weight: bold;
	color: #fc0518;
	margin-top: 10px;
}
.news_data h4 {
	font-size: 16px;
	color: #fc0518;
	margin-top: 2px;
}
.news_title {
	padding-left: 10px;
}
.news_title h2 {
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
}
.news_title p span{
	display: inline-block;
	font-size: 17px;
	margin-right:20px;
	margin-top: 10px;
	color: #5a5858;
}
.news_center p {
	font-size: 16px;
	text-indent: 20px;
	color: #5a5858;
	padding: 10px 5px;
	line-height: 20px;
}
.news_buttom {
	padding: 5px 0px;
	text-align: right;
}
.news_buttom a {
	display: inline-block;
	background-color: #fc0518;
	padding: 8px 15px;
	color: white;
	border-radius: 4px;
}
