/*top*/
.top_w {
	width: 100%;
	margin: 0 auto;
}
.top {
	width: 98%;
	margin: 0 auto;
	height: 49px;
	overflow: hidden;
}
.logo_w,.phone,.login_w {
	float: left;
}
.logo_w {
  width: 67%;
 }
.logo_w img {
	width: 40%;
	max-width: 355px;
	max-height: 40px;
	margin-top: 6px;
}
.phone {
  width: 17%;
  margin-top: 12px;
 }
.phone span {
	display: inline-block;
}
.phone span i {
	display: inline-block;
	float: left;
	margin-right: 8px;
	width: 24px;
}
.phone span em {
	display: inline-block;
	float: left;
	margin-top: 4px;
    font-size: 18px;
    color: black;
}
.phone i img {
	width: 100%;
}
.login_w span{
	color: #808182;
}
.login_w span{
	display: inline-block;
   font-size: 11px;
   margin-right: 10px;
   height: 37px;
   color: #545353;
   margin-top: 7px;
  margin-left: 21px;
}
.load_w a {
	display: inline-block;
	border: #f70925 solid 1px;
	padding: 10px 25px;
	background-color: #fac5cb;
	border-radius: 5px;
}

/*nav*/
.nav_wrap {
	width: 100%;
	height: 45px;
    position: relative;
}
.blak-background {
	background-color: #000000;
	width: 50%;
	height: 45px;
	position: absolute;
	left: 0;
	z-index: 1;
}
.red-background {
	background-color: #FF0000;
	width: 50%;
	height: 45px;
	position: absolute;
	right: 0;
	z-index: 1;
}
.nav-b {
	position: absolute;
	left: 0;
	height: 45px;
	width: 100%;
	z-index: 1;
}
.nav_n {
	width: 95%;
	height: 45px;
	margin: 0 auto;
}
.nav_list {
	background-color: #000000;
	height: 45px;
	min-width: 1280px;
}
.nav_list ul {
	display: inline-block;
	overflow: hidden;
}
.nav_list ul li {
	float: left;
	width: 150px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	position: relative;
	margin-right: 20px;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 15px;
}
#profuct_w {
	color: #FFFFFF;
}
.nav_list ul li a {
	color: #FFFFFF;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.nav_list ul li .home{
	width: 23px;
	height: 22px;
	margin-top: 12px;
}
.nav_list ul li .more{
	width: 11px;
	height: 10px;
	position: absolute;
	right: 29px;
	top: 15px;
}
.change-language {
	float: right;
}
.change-language div {
	float: left;
	height: 45px;
	line-height: 45px;
	font-size: 13px;
	padding-right: 25px;
	background-color: #FF0000;
}
.change-language div a {
	color: #FFFFFF;
	cursor: pointer;
	position: relative;
}
.change-language .triangle {
	width: 0;
    height: 0;
    padding: 0;
    border-top: 20px solid #000000;
    border-right: 20px solid #FF0000;
    border-bottom: 25px solid #FF0000;
    border-left: 25px solid #000000;
}
.change-language .chinese a {
	border-right: 1px solid #FFFFFF;
	padding: 0 25px;
}

/*下拉框*/
.nav-wrapper {
  width: 100%;
  background-color: #ececec;
  padding: 10px 0;
  overflow: hidden;
}
.nav-panel {
	width: 1280px;
	margin: 0 auto;
	overflow: hidden;
}
.nav-panel li {
	width: 25%;
	height: 28px;
	line-height: 28px;
	float: left;
}
.up_arr {
	width: 1280px;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
}
.up_arr img{
	width: 25px;
	cursor: pointer;
}
/*轮播产品*/
#banner {
	width: 100%;
	margin: 0 auto;
}
.wrapper {
	position: relative;
	width: 100%;
	height: 520px;
	min-width: 1280px;
	overflow: hidden;
}
#list {
	position: absolute;
	top: 0;
	right: 60px;
}
#list .list-item {
	width: 150px;
	height: 40px;
	line-height: 40px;
	background-color: rgba(64, 63, 63, 0.6);
	color: white;
	margin-bottom: 2px;
	text-align: center;
	cursor: pointer;
	font-size: 13px;
}
#list .list-item:last-child {
	margin-bottom: 0;
}
.images {
	position: absolute;
	left: 0;
	top: 0;
	width: 300%;
	height: 100%;
}
.image-1 {
	background-color: red;
}
.image-2 {
	background-color: blue;
}
.image-3 {
	background-color: yellow;
}
.image-4 {
	background-color: green;
}
.image-5 {
	background-color: purple;
}
.image-item {
	width: 33.33%;
	float: left;
}
.image-item img {
	width: 100%;
}
.image-item-btns {
	position: absolute;
	left: 45%;
	bottom: 100px;
}
.image-item-btn {
	font-size: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 550px;
}
.item-btns {
	display: inline-block;
	cursor: pointer;
	width: 150px;
	float: left;
}
.item-btns:nth-child(2),
.item-btns:nth-child(3) {
	margin-left: 20px;
}
.item-btns img {
	width: 100%;
}

/*首页解决方案*/
.slution_wrapper {
	width: 100%;
	margin: 0 auto;
}
.solution_title_w {
	text-align: center;
	min-width: 1200px;
	margin: 0 auto;
	padding: 29px 0px;
}
.solution_title_w img {
	width: 25%;
}
.solution_list_w {
	overflow: hidden;
}
.solution_l {
	width: 24%;
	float: left;
	margin-right: 12px;
	cursor: pointer;
}
.so_add {
	margin-right: 0px;
}
.solution_top {
	position: relative;
	overflow: hidden;
	height: 280px;
}
.solution_top>img {
	width: 100%;
}
.Mask_top {
	position: absolute;
	top: -100%;
	height: 280px;
	left: 0;
	width: 100%;
	background-color: rgba(49, 48, 48, 0.7);
}
.Mask_top p {
	color: white;
	padding: 10px 3px;
	text-indent: 30px;
}
.solution_top img {
	width: 100%;
}
.solution_txt {
	position: relative;
	height: 71px;
	padding-top: 5px;
	border-top: red solid 4px;
	background-color: #4a4a4b;
	overflow: hidden;
}
.solution_txt .text {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.solution_txt .text h1 {
	height: 45px;
	line-height: 45px;
	font-size: 17px;
	color: #FFFFFF;
}
.solution_l:hover .solution_txt .text h1 {
	color: #12f3f6;
}
.text p {
	font-size: 14px;
	color: white;
}
.solution_txt .mark {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: -100%;
	background-color: red;
}

/*新闻中心*/
.news_z_w {
	overflow: hidden;
	background-image: url("../images/home_news_bg.png");
	background-size: cover;
	margin-top: 36px;
}
.news_cent {
	overflow: hidden;
}
.news_list {
	padding-top: 43px;
	overflow: hidden;
	padding-bottom: 27px;
	height: 330px;
}
.news_l_01 {
	width: 31%;
	float: left;
	margin-right: 26px;
	background-color: #70f25b;
}
.news_l_01.active .news_text {
	background-color: red;
}
.news_l_01.active .news_text .news_N {
	border-left: #fff solid 4px;
	color: #FFFFFF;
}
.news_l_01.active .news_text .news_N h2 {
	color: white;
}
.news_la {
	margin-right: 0px;
}
.news_img {
	position: relative;
	width: 100%;
	height:150px;
	overflow: hidden;
} 
.news_img img {
	width: 100%;
}
.news_time {
	position: absolute;
	bottom: 10px;
	left: 30px;
	color: white;
	font-size: 16px;
}
.news_text {
	width: 100%;
	height: 100px;
	padding-top: 10px;
	background-color: white;
}
.news_N {
   width: 80%;
   margin-left: 20px;
   height: 75px;
   padding-left: 20px;
   border-left: #fa060c solid 4px;
 }
 .news_N h2 {
 	color: #fa060c;
 	font-size: 17px;
 	margin-bottom: 10px;
 }
.news_N p {
  font-size: 14px;
}
  .more_news {
  	text-align: center;
  }
 .more_news img {
 	width: 13%;
 	margin: 0 auto;
 	margin-bottom: 50px;
 }

/*底部*/
.bottom_wrapper {
	width: 100%;
	margin: 0 auto;
}
.bottom_wrapper,.bottom_n {
	padding-top: 15px;
	background-color: #000;
	overflow: hidden;
}
.about_us_w,.our_server,.contact_us,.Friendship_link {
   float: left;
   color: white;
}
.about_us_w {
	width: 32%;
}
.our_server {
	width: 20%;
}
.contact_us {
	width: 35%;
}
.Friendship_link {
	width: 13%;
}
.about_us_w h2,.our_server h2,.contact_us h2,.Friendship_link h2 {
	color: #fa060c;
	font-size: 16px;
	margin-bottom: 15px;
}
.about_us_w h3,.our_server h3,.contact_us h3,.Friendship_link h3 {
	width: 37px;
	border-bottom: #fa060c solid 2px;
	margin-bottom: 12px;
}
.about_us_w p {
	color: #6f7070;
	font-size: 14px;
	text-indent: 24px;
	padding-right: 25px;
	line-height: 22px;
	margin-bottom: 20px;
}
.text_us a {
	display: inline-block;
	color: #fa060c;
	font-size: 14px;
}
.text_us a i {
	display: inline-block;
	width: 18px;
	vertical-align: top;
	margin-left: 5px;
}
.text_us a i img {
	width: 100%;
}
.our_server ul li a {
	display: block;
	font-size: 12px;
	color: #6f7070;
	height: 26px;
	line-height: 30px;
}
.contact_us ul li {
	font-size: 15px;
	color: #6f7070;
	height: 27px;
	line-height: 27px;
}
.contact_us ul li i {
	display: inline-block;
	width: 20px;
	vertical-align: top;
	padding-top: 3px;
	margin-right: 5px;
}
.link_img p {
	font-size: 15px;
	color: #5c5b5b;
	margin-top: 20px;

}
.link_img p span {
	display: inline-block;
	padding-top: 2px;
}
.link_img p span a {
	color: #fa060c;
}
.link_img p i {
	display: inline-block;
	vertical-align: top;
	width: 20px;
	margin-left: 5px;
}
.link_img p i img {
   width: 100%;
}

/*产品中心*/
.product_img {
	height: 140px;
	background-color: red;
	overflow: hidden;
	background-image: url("../images/product_bg.jpg");
	background-size: cover;
}
.add_PP {
	height: 100px !important;
}
.news_img {
	background-image: url("../images/About_us_bg.png");
	background-size: cover;
}
.pud_ass {
	background-image: url("../images/news_bg.png");
	background-size: cover;
}
.product_img h2 {
	text-align: center;
	font-size: 22px;
	height: 45px;
	line-height: 45px;
	margin-top: 9px;
	font-weight: bold;
	color: #fa0619;
}
.product_img h5 {
	text-align: center;
	font-size: 18px;
	height: 31px;
	line-height: 22px;
	color: white;
}

/*产品内容*/
.product_list_w {
	overflow: hidden;
	margin-top: 198px;
}
.product_left{
   float: left;
   width: 20%;
   background-color:white;
}

.product_left ul li {
	height: 40px;
	line-height: 40px;
	text-indent: 20px;
	font-size: 14px;
	border-bottom: #d9dbdb dashed 1px;
	color: #525454;
}
.product_left ul li i {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 10px;
	background-image: url("../images/arr_h.png");
	background-size: 100%;
}
.product_left ul li:hover,.product_left ul li:active {
	background-color: #fa0215;
	color: white;
}
.cont_us_li {
	width: 100%;
	overflow: hidden;
	}
.cont_us_li img {
	width: 100%;
}
.pro_on {
	background-color: #fa0215;
	color: white !important;
}
.product_right{
   float: left;
   width: 80%;
}
.top_nav {
	overflow: hidden;
	width: 98%;
	margin: 0 auto;
}
.top_nav ul li {
	float: left;
	height: 42px;
	line-height: 42px;
	width: 25%;
	text-align: center;
}
.nav_on {
	background-color: #fa0215;
}
.nav_on a {
	display: block;
    width: 26%;
    font-size: 14px;
	margin: 5px auto;
	height: 40px;
	line-height: 40px;
	color: white;
	border-top: #fff solid 2px;
}
.top_nav ul li {
	font-size: 14px;
	height: 40px;
	line-height: 40px;
}
.top_nav ul li:hover{
   background-color: #fa0215;
   font-size: 14px;
   height: 40px;
	line-height: 40px;
}
.top_nav ul li:hover a {
   display: block;
    width: 26%;
	margin: 5px auto;
	height: 40px;
	line-height: 40px;
	color: white;
	border-top: #fff solid 2px;
}
.product_video {
	width: 100%;
	margin: 3px auto;
}
.product_video img{
	width: 100%;
}
.product_introduction {
   width: 98%;
   margin: 0 auto;
}
.product_test h2,.product_function h2,.product_download h2{
	font-size: 23px;
	font-weight: block;
	padding: 20px 0px;
	border-bottom: #ccc solid 1px;
}
.product_test p,.product_function p {
	font-size: 15px;
	text-indent: 10px;
	line-height: 20px;
}
.download_list {
	overflow: hidden;
	margin-top: 10px;
	border-bottom: #d4d3d2 dashed 1px;
}
.downloas_left,.downloas_right {
	float: left;
}
.downloas_left {
	width: 80%;
	height: 80px;
}
.download_logo,.download_sm{
	float: left;
}
.download_logo {
	width: 55px;
	height: 55px;
	margin: 15px 20px 15px 3px;
	background-image: url("../images/test.png");
	background-size: 100%;
}
.download_sm h3 {
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 11px;
}
.download_sm p span {
	font-size: 14px;
	color: #7f7e7e;
	margin-right:20px;
}
.downloas_right {
	width: 20%;
	text-align: center;
	height: 80px;
	line-height: 80px;
}
.downloas_right input {
	width: 70%;
	background-color: red;
	border: none;
	height: 50px;
	color: white;
}

/*新闻中心*/
.comwith_t2 {
	width: 80%;
	margin: 0 auto;
	min-width: 1200px;
}
.news_list_n {
	padding-bottom: 10px;
	border-bottom: #cecdcd dashed 1px;
}
.new_top {
	overflow: hidden;
	margin-top: 20px;
	}
.news_data,.news_title {
  float: left;
}
.news_data {
	width: 54px;
	height:56px;
	text-align: center;
	border: #bababb solid 1px;
}
.news_data h2 {
	font-size: 19px;
	font-weight: bold;
	color: #fc0518;
	margin-top: 10px;
}
.news_data h4 {
	font-size: 13px;
	color: #fc0518;
	margin-top: 2px;
}
.news_title {
	padding-left: 10px;
}
.news_title h2 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 6px;
}
.news_title p span{
	display: inline-block;
	font-size: 14px;
	margin-right:20px;
	margin-top: 16px;
	color: #5a5858;
}
.news_center p {
	font-size: 14px;
	text-indent: 20px;
	color: #5a5858;
	padding: 10px 5px;
	line-height: 20px;
}
.news_buttom {
	padding: 2px 0px;
	text-align: right;
}
.news_buttom a {
	display: inline-block;
	font-size: 10px;
	background-color: #fc0518;
	padding: 8px 15px;
	color: white;
	border-radius: 4px;
}
.paging {
	padding: 30px 0px;
	text-align: center;
}
.paging a {
	display: inline-block;
	font-size: 14px;
	padding: 10px 20px;
	background-color: #000;
	color: white;
}
.paging a:hover, .paging a:active {
	background-color: red;
}

/*新闻中心详情*/
.news_detail_wrapper h2 {
	font-size: 25px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
}
.news_detail_wrapper p {
	text-align: center;
}
.news_detail_wrapper p span {
	display: inline-block;
	font-size: 18px;
	color: #9e9d9d;
	margin-right: 10px;
    height: 30px;
    line-height: 30px;
}
.news_TTE {
   font-size: 18px;
   line-height: 25px;
   text-indent: 20px;
   text-align: left !important;
   margin-top: 15px;
}
.news_more_l {
	overflow: hidden;
	padding: 35px 0px;
}
.news_more_left,.news_more_right {
	width: 50%;
   float: left;
   text-align:center;
}
.text_btn {
	display: inline-block;
	width: 70%;
	height: 50px;
	line-height: 50px;
	border-radius: 45px;
	border: #cecdcd solid 1px;
}
.text_btn:hover,.text_btn:active {
	background-color: red;
	color: white;
}

/*关于我们*/
.about-us-wrapper {
	width: 100%
	margin: 0 auto;
}

.about_nav {
	width: 50%;
	margin: 0 auto;
}
.about_nav ul li {
	float: left;
	width: 20%;
	margin: 0 6%;
	text-align: center;
	font-size: 16px;
	height: 47px;
	line-height: 47px;
	cursor: pointer;
}
.about_nav ul li:hover,
.about_nav ul li.active {
	color: #fa0518;
	border-bottom: #fa0518 solid 2px;
}
.introduction_title {
   height: 79px;
   width: 100%;
   margin: 0 auto;
}
.introduction_title h2 {
	font-size: 22px;
    color: #fa0518;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}
.introduction_title h4 {
	font-size: 21px;
	color: #afb0b0;
	text-align: center;
}

.introduction_txt p {
	font-size: 15px;
	line-height: 20px;
	text-indent: 21px;
	margin-bottom: 8px;
}
.Environmental_wap {
	overflow: hidden;
	min-width: 1280px;
	padding: 40px 0px;
	background:url("../images/envirment_bg.png");
	background-size: cover;
}
.Environmental_title h2{
   font-size: 22px;
    color: #fa0518;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}
.Environmental_title h3 {
   	font-size: 22px;
	color: #afb0b0;
	text-align: center;
	margin-top: 14px;
}
.Environmental_img {
	position: relative;
	overflow: hidden;
	margin-top: 40px;
	min-width: 1280px;
}
.environmental-wrapper {
	overflow: hidden;
	width: 98%;
	margin: 0 auto;
}
.environmental-btn {
	float: left;
	width: 10%;
	height: 1px;
	text-align: center;
	margin-top: 45px;
}
.environmental-btn img {
	margin-top: 90px;
	cursor: pointer;
}
.environmental-window {
	float: left;
	width: 80%;
	overflow: hidden;
}
.environmental-content {
	// width: 133.33%;
}
.environmental-content .content-item {
	// width: 25%;
	float: left;
	text-align: center;
	height: 300px;
	line-height: 300px;
}
.environmental-content .content-item img {
	width: 80%;
	vertical-align: middle;
}
// .img_list {
// 	float: left;
// 	width: 33.3%;
// 	text-align: center;
// } 
// .img_list img {
//    width: 80%;
// }
// .btn_l,.btn_r {
// 	position: absolute;
// } 
// .btn_l {
// 	left: 0;
// 	top:45%;
// }
// .btn_r {
// 	right: 0;
// 	top:45%;
// }
.contact_map {
	width: 100%;
	margin: 0 auto;
}
.map {
	overflow: hidden;
	margin-top: 30px;
}
.address {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	padding: 10px 0px;
}
.address_l,.address_r {
	float: left;
	width: 50%;
}
.address_l ul li,.address_r ul li {
	font-size: 18px;
	height: 30px;
	line-height: 30px;
}
.address_t {
   font-size: 24px !important;
   color: red;
   margin-bottom: 10px;
}
.address_ad {
	font-size: 22px;
	font-weight: bold;
}

/*登录页*/
.loadimg_w {
	overflow: hidden;
	height: 80px;
	min-width: 1200px;
}
.loading_l,.loading_r {
	float: left;
}
.loading_l {
	width: 90%;
}
.load_logo {
	vertical-align: top;
	display: inline-block;
	width: 35%;
	margin-top: 20px;
}
.load_logo img {
	width: 100%;
}
.load_tt {
	display: inline-block;
	font-size: 22px;
	height: 25px;
	line-height: 25px;
	margin-top: 32px;
	width: 10%;
	text-align: center;
	border-left: #fa0518 solid 4px;
}
.loading_r {
	width: 10%;
}
.loading_r p {
	text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 32px;
}
.loading_main {
	width: 100%;
	overflow: hidden;
	height: 550px;
	background:url("../images/loading_bg.png");
	background-size: cover;
}
.loading_kk {
	width: 400px;
	overflow: hidden;
	margin-left: 50px;
	margin-top: 70px;
	padding: 30px 20px;
	background-color: rgba(255, 255, 255, 0.5);
}
.loading_kk ul li {
	margin-bottom: 20px;
}
.loading_kk ul li input {
	width: 100%;
	height: 50px;
	text-indent: 20px;
	color: #b8b9b9;
	border: none;
}
.yanzheng input {
	float: left;
	width: 58% !important;
	margin-right: 8px;
}
.yanzheng span {
	display: inline-block;
	float: left;
	width: 40%;

}
.message_fs {
	display: inline-block;
	width: 40%;
	text-align: center;
	background-color: #f5b0b0;
	height: 50px;
	line-height: 50px;
	color: white;
}
.yanzheng span img {
  width: 100%;
}
.btn_dl input,.btn_z a {
	width: 100%;
	height: 50px;
	margin-top: 40px !important;
	border: none;
	background-color: #ff0000;
	font-size: 18px;
	color: white;
}
.add_k {
	padding-top: 82px !important;
}
.btn_z a {
    display: block;
    text-align: center;
    line-height: 50px;
	margin-top: 20px !important;
	background-color: #f5b0b0;
}
.message_txt p {
	padding: 10px 0px;
	text-align: center;
	font-size: 15px;
}

/*定位*/
/*.top_dw {
	position: fixed;
	top:0;
	left: 0; 
	background-color: white;
	z-index: 1000;
}
.nav_dw {
	position: fixed;
	top:73px;
	left: 0; 
	z-index: 1000;
}
.prod_dw {
	position: fixed;
	top:120px;
	left: 0; 
	z-index: 1000; 
}
.introduction_dw {
	clear: both;
	margin-top: 34px !important;
}
.us_pw {
	position: ;
	top:120px;
	left: 0; 
	z-index: 1000; 
}
.nav_xl {
	position: fixed;
	top:120px;
	left: 0px;
	z-index: 10000;
}*/
.t_wap,.prod_dwa {
	position: fixed;
	width: 100%;
	top:0px;
	left: 0px;
	z-index: 1000;
	background-color: white;
}
.introduction_dw {
	clear: both;
	margin-top: 262px !important;
}
